:root{
  --purple: rgb(165,155,239);
  --purple-hover: rgb(160, 140, 220);
  --black:rgb(36, 36, 36);
  --gray:rgb(185, 185, 188);
}

@font-face {
  font-family: "Anton";
  src: url( ../fonts/Anton-Regular.ttf);
}

@font-face {
  font-family: "Karla";
  src: url( ../fonts/Karla.ttf);
}

*,body{
  margin:0;
  padding: 0;
  font-family: "Karla";
  font-weight: 500;
}

body{
  background-color: #fcfcff;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

h1, h2, h5{
  font-family: "Anton";
}

h1{
  font-size: 50px;
}

h2{
  font-size: 35px;
  padding-bottom: 70px;
}

p{
  font-size: 14px;
  font-weight: 400;
}

.flex-wrapper{
  display: flex;
  justify-content: space-between;
}

a{
  text-decoration: none;
  color: black;
}

.content{
  margin: 0 5%;
  margin-top: 60px;
}

.whiteFont{
  color: white;
}

.grayBackground{
  background-color: var(--gray);
}


.btn{
  border-radius: 5px;
  border: none;
  padding: 5px 20px;
  font-weight: 700;
  font-size: 15px;
}

.btn:hover{
  cursor: pointer;
}

.background{
  background-color: var(--black);
  color: white;
}

#root{
  height: 100%;
}

.page{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header{
  padding-top: 10px;
  background-color:#fcfcff ;
  color: var(--black);
}

.header .content{
  margin-top: 0;
  position: relative;
}

.header .flex-wrapper{
  align-items: center;
}

.burger{
  display: none;
}

.mobileMenu{
  display: none;
  position: absolute;
  left: -5%;
  right: -5%;
  z-index: 2;
  background-color:#fcfcff ;
  box-shadow: 0 4px 2px -2px var(--gray);
}

#contacts{
  display: none;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  background-color:#fcfcff ;
  box-shadow: 0 4px 2px -2px var(--gray);
}

.contacts-content__item{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contacts-content__item img{
  margin-right: 2rem;
}

#contacts .flex-wrapper{
  align-items: flex-start;
}

.close{
  cursor: pointer;
}

.logo{
  width: 100%;
}

.action-menu{
  display: flex;
}

.menu-list{
  display: flex;
  list-style-type:none;
}

.menu-list__link{
  padding: 10px 0;
  margin-right: 40px;
}

.contactUs{
  padding: 0 30px;
  border: none;
  border-radius: 10px;
  background-color: var(--purple);
}

.contactUs span{
  font-weight: 700;
}

.contactUs:hover{
  cursor: pointer;
  background-color: var(--purple-hover);
  transition: .15s ease-in-out .1s;
}

.aboutUs{
  margin-top: 80px;
  margin-bottom: 20px;
}

.aboutUs-content{
  width: 50%;
  font-weight: 400;
  font-size: 14px;
}

.aboutUs-content__header{
  font-size: 50px;
}

.aboutUs-content__text{
  padding-top: 20px;
  padding-bottom: 40px;
}

.aboutUs-content__image{
  width: 100%;
}

.aboutUs-contact{
  width: 40%;
  z-index: 1;
}

.aboutUs-contact .wrapper{
  height: 100%;
}

.experience{
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 0;
}

.experience .flex-wrapper{
  align-items: center;
}

.experience-item{
  width: 180px;
  text-align: center;
}

.whiteCircle{
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: white;
}

.experience-item__number{
  font-size: 50px;
  font-weight: bold;
  color: var(--purple);
}

.whyChooseUs{
  margin-top: 60px;
}

.whyChooseUs-arguments{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.whyChooseUs-arguments__item{
  padding-bottom: 50px;
}

.whyChooseUs-arguments__item:last-child{
  padding-bottom: 0;
}

.argument-index{
  font-family: "Anton";
  font-size: 30px;
  font-weight: 700;
  color: rgb(234,234,237);
  margin-right: 20px;
}

.argument-header{
  font-size: 25px;
  padding-bottom: 15px;
}

.whyChooseUs-content{
  width: 45%;
}

.whyChooseUs-content__text{
  padding-bottom: 30px;
}

.whyChooseUs-content__picture{
  width: 47%;
  height: 350px;
}

.projects{
  margin-bottom: 50px
}

.mobileProjects{
  display: none;
}

.projects-item{
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid var(--gray);
}

.projects-item:last-of-type{
  border-bottom: none;
}

.project-item__picture{
  width: 45%;
}

.project-item__content{
  width: 48%;
}

.project-item__header{
  padding: 23px 0;
  font-size: 22px;
}

.project-item__info{
  color: var(--gray);
}

.project-item__description{
  padding-bottom: 20px;
}

.project-item__seeMore a{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.projects-all{
  margin-left: 48%;
  background-color: var(--black);
  padding: 5px 30px;
  border: 1px solid var(--black);
  border-radius: 5px;
}

.projects-all a{
  color: white;
}

.purpleCircule{
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

.inputLabel{
  display: block;
}

.contactForm{
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(36, 36, 36);
  border-radius: 25px;
  color: white;
}

.contactForm-header{
  font-size: 30px;
  padding: 20px 0;
}

.contactForm-input{
  width: 100%;
  padding: 5px 0 5px 5px;
  margin-bottom: 20px;
  border: none;
}

.contactForm-input:focus{
  outline: none;
}

.contactForm-submit{
  margin-top: 20px;
  padding: 5px 40px;
  font-weight: 700;
  font-size: 15px;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contactForm-submit:hover{
  background-color: #dedede;
  transition: .15s ease-in-out .1s;
}

.footer{
  padding: 20px 0;
  color: white;
  margin-top: 0;
}

.footer-content{
  display: flex;
}

.footer-content__item{
  margin-right: 50px;
}

.footer-content__item h5{
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
}

.footer-content__item div{
  margin-bottom: 5px;
}

.footer-feedback{
  width: 30%;
  color: var(--gray);
}

.footer-feedback__input{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black);
  border: 1px solid white;
  border-radius: 15px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.footer-feedback__input input{
  flex-grow: 1;
  background-color: var(--black);
  border: none;
  color: white;
}

.footer-feedback__input input:focus{
  outline: none;
}

.footer-feedback__input img{
  width: 5%;
  cursor: pointer;
}

.footer-menu{
  display: flex;
  margin-top: 30px;
  padding-top: 5px;
  border-top: 1px solid var(--gray);
  align-items: center;
}

.footer-menu .logo{
  width: 100%;
  margin-right: 10%;
}

.footer-menu .menu{
  width: 100%;
  margin-left: 5%;
}

.footer-menu .menu-list__link{
  margin-right: 10%;
}

.footer-menu a{
  color: white;
}

.contactUs-Footer{
  padding: 100px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 40px;
  column-gap: 30px;
}

.contactUs-Footer__item1{
  padding-top: 70px;
  padding-bottom: 50px;
  padding-right: 20px;
  grid-row-start: 1;
  grid-row-end: 3;
  border-right: 1px solid var(--gray);
}

.contactUs-Footer p{
  margin-top: 30px;
}

.mobileFooter{
  display: none;
}

.circle1{
  width: 300px;
  height: 300px;
  position: absolute;
  z-index: -1;
}

.circle1{
  width: 300px;
  height: 300px;
  position: absolute;
  z-index: -1;
}

.circle2{
  width: 230px;
  height: 230px;
  position: absolute;
  z-index: -1;
}

#circle1{
  top:-40px;
  left: -70px;
}

#circle2{
  right: -120px;
  top: -40px;
}

#circle3{
  left: -70px;
  top: 1375px;
}

#circle4{
  right: 32%;
  top: 550px;
}

#circle5{
  right: 36%;
  top: 1100px;
}

#circle6{
  right: 34%;
  top: 2050px;
}

#circle7{
  right: -5%;
  top: 2200px;
}

@media (max-width: 700px) {
  .flex-wrapper{
    flex-direction: column;
  }

  p{
    font-size: 20px;
  }

  .header .flex-wrapper{
    flex-direction: row;
  }

  .header .flex-wrapper a{
    width: 130px;
  }

  .action-menu{
    display: none;
  }

  .aboutUs-content{
    width: 100%;
  }

  .aboutUs-contact{
    display: none;
  }

  .burger{
    display: block;
    cursor: pointer;
    width: 50px;
  }

  .mobileMenu .menu-list__link:hover{
    background-color: #e8e8e8;
  }

  .mobileMenu .menu-list{
    flex-direction: column;
  }

  .experience-item{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  .experience-item__number{
    width: 30%;
  }

  .experience-item p{
    text-align: left;
  }

  .whiteCircle{
    display: none;
  }

  .argument-index{
    display: none;
  }

  .argument-header{
    font-weight: 700;
  }

  .whyChooseUs-arguments{
    width: 100%;
  }

  .whyChooseUs-content{
    width: 100%;
  }

  .whyChooseUs-content__text{
    margin-top: 40px;
  }

  .whyChooseUs-content .flex-wrapper{
    flex-direction: row;
  }

  .projects{
    display: none;
  }

  .h2{
    padding-bottom: 2.5rem;
  }

  .projects .projects-header{
    align-self: flex-start;
  }

  .project-item__picture{
    width: 100%;
    margin: 1rem 0;
  }

  .project-item__info span{
    font-weight: 400;
  }

  .project-item__content{
    width: 100%;
  }

  .project-item__header{
    font-weight: 700;
  }

  .project-item__seeMore a{
    justify-content: flex-start;
    text-decoration: underline;
  }

  .project-item__seeMore span{
    font-weight: 700;
  }

  .project-item__seeMore img {
    display: none;
  }

  .projects-item{
    border: none;
    padding-bottom: 0;
  }

  .project-item__info{
    flex-direction: row;
  }

  .projects-all{
    margin: auto;
    width: 50%;
    font-size: 25px;
    border-radius: 10px;
  }

  .footer{
    display: none;
  }

  .mobileFooter{
    display: block;
  }

  .mobileFooter .flex-wrapper{
    align-items: center;
  }

  .footer-feedback{
    width: 100%;
  }

  .footer-feedback__input{
    padding: 5px 20px;
    border-radius: 25px;
  }

  .footer-feedback__input input{
    font-size: 1.25rem;
  }

  .footer-menu a{
    width: 100%;
  }

  .footer-menu .logo {
    width: 30%;
    margin-left: 30%;
  }

  .footer-content{
    width: 100%;
    border-bottom: 1px solid var(--gray);
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
  }

  .footer-content__item{
    flex-grow: 1;
    font-size: 1.2rem;
  }

  .footer-content__item h5{
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .footer-content__item div{
    margin-bottom: 1rem;
  }

  .homeSpot{
    font-size: 1.2rem;
  }

  .mobileFooter p{
    font-size: .8rem;
    color: var(--gray);
    margin-bottom: 2rem;
  }

  .mobileFooter a{
    width: 30%;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  #circle3{
    display: none;
  }

  #circle4{
    display: none;
  }

  #circle5{
    display: none;
  }

  #circle6{
    display: none;
  }
}